.title {
    background: red;
    padding: 25px;
    text-align: center;
    color: gold;

}

.main{
    background: pink;
    padding: 25px;
}

.menu {
    background: lightblue;
    padding: 25px;
}

.footer {
    background: black;
    color: gold;
    padding: 10px;
    text-align: center;
}